.projects-wrapper {
    display:flex;
    flex-direction: column;
    height: 70vh;
}

.additions-container,
.concrete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.additions-title,
.additions-text,
.concrete-title,
.concrete-text {
    color: white;
    font-size: 2.85rem;
    letter-spacing: .15rem;
}

.additions-container:hover,
.additions-container:hover .additions-title,
.concrete-container:hover,
.concrete-container:hover .concrete-title {
    color: #c80001;
}

.concrete-text,
.additions-text{
    font-weight: 500;
    letter-spacing: .06rem;
    word-spacing: .2rem;
    font-size: 1.2rem;
}