.structural-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.structural-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 219, 219);
    padding: 5vh;
    width: 100%;
}

.structural-reach {
    color: #c80001;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    letter-spacing: .04rem;
    font-weight: 100;
}

.structural-ready {
    margin-top: 0;
}

.structural-types {
    width: 70vw;
    font-size: 1em;
    font-weight: 200;
    color:#4a4a4a;
    text-align: left;
}

.structural-number {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color:#4a4a4a;
}
.contact-button {
    background-color: black;
    color: white;
}

@media screen and (max-width: 414px) {
.structural-ready {
    font-size: 1.5rem;
}

.structural-reach {
    font-size: .85rem;
    width: 90%;
}

.structural-types {
    width: 90%;
    font-size: 1rem;
    text-align: center;
}


   }