.transform-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;
    background-color: white;
}

.transform-reach {
    color: #c80001;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    letter-spacing: .04rem;
    font-weight: 100;
}

.transform-types,
.transform-number {
    width: 70vw;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    color:#4a4a4a;
}

.transform-number {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color:#4a4a4a;
}