.concrete-image {
    width: 32vw;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

.concrete-image:hover {
    width: 36vw;
    transition: all 500ms ease;
    padding: 0;
}

.concrete-contact-button {
    text-align: left;
    margin:0
}

.concrete-type-driveway,
.concrete-type-retaining {
    background-color: rgb(219, 219, 219);
    border-top: .15rem solid;
    border-bottom: .15rem solid;
}

.concrete-additions-header1 {
    font-size: 2.15rem;
    margin-bottom: 0;
    color: black;
}

.concrete-additions-header2 {
    font-size: 2.15rem;
    margin-bottom: 0;
    color:#c80001
}

.concrete-additions-info-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.concrete-additions-info {
    display: flex;
    text-align: left;
    align-items: center;
    width: 50%;
    line-height: 1.75;
    font-size: 1.2rem;
}

.concrete-additions-photo{
    width: 27vw;
}

