.concrete-image {
    width: 33vw;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

.concrete-image:hover {
    width: 36vw;
    transition: all 500ms ease;
    padding: 5px;
}

.concrete-contact-button {
    text-align: left;
    margin:0
}

.concrete-type-driveway,
.concrete-type-retaining {
    background-color: rgb(219, 219, 219);
    border-top: .15rem solid;
    border-bottom: .15rem solid;
}

.concrete-type-patio {
    /* height:60vh; */
}

.concrete-additions-header1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: black;
}

.concrete-additions-header2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color:#c80001
}

.concrete-additions-info-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom:4rem;
    align-items: center;
}


.concrete-additions-info1 {
    display: flex;
    text-align: left;
    align-items: center;
    width: 40%;
    line-height: 1.75;
    font-size: 1.15rem;
    background-color: white;
    padding:25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1%;
}

.concrete-additions-info2 {
    display: flex;
    text-align: left;
    align-items: center;
    width: 40%;
    line-height: 1.75;
    font-size: 1.15rem;
    background-color: #4a4a4a;
    color: white;
    padding:25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1%;
}

.concrete-additions-photo{
    width: 27vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pitch {
    margin-top: 1vh;
    font-size: 1.4rem;  
    font-family: 'Oswald', sans-serif;
}

.concrete-additions-photo:hover {
    transform: scale(1.3);
    transition: transform .75s ease;
}



