.work-type-wrapper {
    display: flex;
    height: 55vh;
    width: 100%;
}

.remodeling-link-container,
.structural-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.remodeling-link-header,
.structural-header{
    color: white;
}

.remodeling-link-text,
.structural-text {
    color: white;
    font-size: 1.25vw;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .06rem;
}

.remodeling-link-container:hover,
.remodeling-link-container:hover .remodeling-header,
.structural-container:hover,
.structural-container:hover .structural-header {
    color: #c80001;
}