.modal-container {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ham-links {
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* margin-left: 0vw;
    margin-right: 0vw;
    padding-left: 0vw;
    padding-right: 0vw; */
}