.greeting-container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.greeting-logo {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    width: 35rem;
}

.trust {
    margin-top: 5vh;
    margin-bottom: 0vh;
    font-size: 3rem;
    font-weight: 800;
    color: black;
}

.intro {
    color: rgb(219, 219, 219);
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: .07rem;
}

.greeting-container:hover .intro {
    color: white;
}